{% include 'header.html' with pageData %}
<div class="bordered-box" id="login-box">
  <div class="section-title">
      System Authentication
  </div>
  <div class="box-container">
    <form>
      <div class="form-row">
        <label>Email</label>
        <input type="text" name="email"/>
      </div>
      <div class="form-row">
        <label>Password</label>
        <input type="password" />
      </div>
      <div id="action-group">
        <button class="btn-enabled" id="LoginButton">Login</button>
        <a href="/dashboard">Forgot Password</a>
      </div>
    </form>
  </div>
</div>
<script src="scripts/authenticate.bundle.js"></script>
</body>
</html>
