@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans");
.container {
  padding: 25px;
  padding-top: 100px; }

#color-palette {
  width: 100%; }
  #color-palette #color-container::after, #color-palette #color-container::before {
    content: '';
    display: block;
    clear: both; }
  #color-palette #color-container div {
    float: left;
    width: 25%;
    text-align: center;
    height: 100px; }
    #color-palette #color-container div p {
      line-height: 100px; }
  #color-palette #color-container .primary {
    background-color: #22264b;
    color: #FFFFFF; }
  #color-palette #color-container .accent {
    background-color: #b56969;
    color: #FFFFFF; }

#topBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #22264b;
  color: #FFFFFF;
  border-bottom: 1px solid #15182f;
  padding: 20px 50px;
  font-size: 16px; }
  #topBar sub {
    position: relative;
    top: 10px;
    left: 10px;
    font-style: italic; }
