#login-box {
  width: 500px;
  margin: 150px auto 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#login-box .box-container {
  padding: 40px 50px; }

#login-box input {
  width: 200px; }

#login-box label {
  width: 150px; }

#action-group {
  text-align: center; }

#login-box button {
  width: 350px;
  margin: 10px 0px;
  margin-right: 10px; }
