/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }

body {
  font-family: "Open Sans", sans-serif;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  font-size: 14px; }

h1, h2, h3, h4 {
  font-weight: 800;
  color: #15182f;
  font-family: "Noto Sans", sans-serif; }

h1 {
  font-size: 38px;
  line-height: 38px; }

h2 {
  font-size: 24px;
  line-height: 24px; }

h3 {
  font-size: 18px;
  line-height: 18px; }

h4 {
  font-size: 16px;
  line-height: 16px; }

h1, h2 {
  margin: 16px 0px; }

h3, h4 {
  margin: 8px 0px; }

.horizontal-rule-dark, .horizontal-rule-light {
  background: #e8edf3;
  background: radial-gradient(#22264b 30%, #e8edf3 60%);
  width: 75%;
  height: 1px;
  margin: 20px auto; }

.horizontal-rule-light {
  background: radial-gradient(#e8edf3 30%, #22264b 60%); }

.para {
  font-size: 14px;
  line-height: 21px; }
  .para br {
    display: block;
    content: "";
    margin: 14px; }

a {
  color: #dbba59;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.button, .btn-enabled, .btn-disabled {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif; }
  .button i, .btn-enabled i, .btn-disabled i {
    margin-right: 3px; }

.btn-enabled {
  background: #e6cf8b;
  border: 1px solid #dfc169; }
  .btn-enabled:hover {
    background: #dfc169; }

.btn-disabled {
  background: #e8edf3;
  border: 1px solid #cdd8e5;
  color: #c0cede;
  cursor: not-allowed; }

.form-row {
  line-height: 24px;
  padding: 4px;
  transition: background-color 0.3s; }
  .form-row:hover {
    background-color: white; }
  .form-row::before, .form-row::after {
    display: block;
    content: '';
    clear: both; }
  .form-row label {
    float: left;
    width: 200px;
    padding-right: 8px;
    word-wrap: break-word;
    line-height: 22px; }

.form-element-group-horizontal, .form-element-group-vertical {
  max-width: 500px;
  float: left; }
  .form-element-group-horizontal span, .form-element-group-vertical span {
    margin-right: 25px;
    position: relative;
    top: -3px; }

.form-element-group-vertical span {
  position: relative;
  top: -3px; }
  .form-element-group-vertical span::after {
    content: "\000A";
    white-space: pre; }

input[type=text], input[type=password], input[type=email], input[type=search] {
  width: 300px;
  border: 1px solid #c0cede;
  border-radius: 3px;
  padding: 4px;
  font-size: 14px; }

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 0px; }

input[type=radio] {
  width: 20px;
  height: 20px;
  margin: 0px; }

textarea {
  border: 1px solid #c0cede;
  border-radius: 3px;
  min-height: 180px;
  width: 300px;
  padding: 4px;
  font-family: "Open Sans", sans-serif; }

.well, .success-well, .warning-well, .error-well {
  padding: 8px;
  border-radius: 3px;
  margin: 3px;
  background-color: #e8edf3;
  border: 1px solid #cdd8e5; }
  .well i, .success-well i, .warning-well i, .error-well i {
    margin-right: 10px; }

.success-well {
  background-color: #4CAF50;
  border: 1px solid #409343;
  color: #FFFFFF; }

.warning-well {
  background-color: #FFC107;
  border: 1px solid #dda600;
  color: #22264b; }

.error-well {
  background-color: #f6675d;
  border: 1px solid #e11b0c;
  color: #FFFFFF; }

.bordered-box {
  border: 1px solid #15182f;
  border-radius: 3px; }
  .bordered-box .section-title {
    padding: 6px;
    font-weight: 700;
    border: 1px solid #15182f;
    background: #22264b;
    letter-spacing: 2px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Noto Sans", sans-serif; }
  .bordered-box .section-container {
    padding: 6px; }
