.button {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 3px;
  cursor: pointer;
  font-family: $primaryFont;
  i{
    margin-right:3px;
  }
}
.btn-enabled{
  @extend .button !optional;
  background: $secondAccentColor;
  border: 1px solid darken($secondAccentColor, $shade-threshold);
  &:hover{
    background: darken($secondAccentColor, $shade-threshold);
  }
}
.btn-disabled{
  @extend .button !optional;
  background: $greyColor;
  border: 1px solid darken($greyColor, $shade-threshold);
  color: darken($greyColor, $shade-threshold-stronger);
  cursor: not-allowed;
}
