
// Shade thresholds
$shade-threshold: 8%;
$shade-threshold-stronger: 12%;

// Colors
$primaryColor: #22264b;
$accentColor: #b56969;
$secondAccentColor: #e6cf8b;
$greyColor: #e8edf3;
$warningColor: #FFC107;
$errorColor: #F44336;
$successColor: #4CAF50;
$whiteColor: #FFFFFF;
$blackColor: #000000;
