$paraFontSize: 14px;
$defaultFontSize:14px;
$defaultFormInputSize: 300px;

body{
  font-family: $primaryFont;
  background: $whiteColor;
  -webkit-font-smoothing: antialiased;
  font-size: $defaultFontSize;
}
h1,h2,h3,h4{
  font-weight: 800;
  color: darken($primaryColor, $shade-threshold);
  font-family: $secondaryFont;
}
h1 {
  font-size: 38px;
  line-height: 38px;
}
h2 {
  font-size: 24px;
  line-height: 24px;
}
h3 {
  font-size: 18px;
  line-height: 18px;
}
h4 {
  font-size: 16px;
  line-height: 16px;
}
h1,h2{margin:16px 0px;}
h3,h4{margin:8px 0px;}

.horizontal-rule-dark{
  background:$greyColor;
  background:radial-gradient($primaryColor 30%, $greyColor 60%);
  width: 75%;
  height: 1px;
  margin:20px auto;
}
.horizontal-rule-light{
  @extend .horizontal-rule-dark;
  background:radial-gradient($greyColor 30%, $primaryColor 60%);
}

.para{
  font-size: $paraFontSize;
  line-height: $paraFontSize+$paraFontSize/2;
  br{
    display: block;
    content: "";
    margin: $paraFontSize;
  }
}
a{
  color: darken($secondAccentColor, $shade-threshold-stronger);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
