.form-row{
  line-height: 24px;
  padding:4px;
  transition: background-color 0.3s;
  &:hover{
    background-color: lighten($greyColor, $shade-threshold);
  }
  &::before, &::after{
    display: block;
    content: '';
    clear: both;
  }
  label{
    float: left;
    width: 200px;
    padding-right: 8px;
    word-wrap: break-word;
    line-height: 22px;
  }
}
.form-element-group-horizontal{
  max-width:500px;
  float:left;
  span {
    margin-right:25px;
    position: relative;
    top: -3px;
  }
}
.form-element-group-vertical{
  @extend .form-element-group-horizontal;
  span {
    position: relative;
    top: -3px;
    &::after{
      content:"\000A";
      white-space: pre;
    }
  }
}
input[type=text],input[type=password],input[type=email],input[type=search] {
  width:$defaultFormInputSize;
  border: 1px solid darken($greyColor, $shade-threshold-stronger);
  border-radius: 3px;
  padding:4px;
  font-size: $defaultFontSize;
}
input[type=checkbox]{
  width: 20px;
  height:20px;
  margin: 0px;
}
input[type=radio] {
  width: 20px;
  height:20px;
  margin: 0px;
}
textarea {
  border: 1px solid darken($greyColor, $shade-threshold-stronger);
  border-radius: 3px;
  min-height: 180px;
  width: 300px;
  padding:4px;
  font-family: $primaryFont;
}
