.well{
  padding:8px;
  border-radius: 3px;
  margin:3px;
  background-color: $greyColor;
  border: 1px solid darken($greyColor, $shade-threshold);
  i{margin-right:10px;}
}
.success-well {
  @extend .well;
  background-color: $successColor;
  border: 1px solid darken($successColor, $shade-threshold);
  color: $whiteColor;
}
.warning-well {
  @extend .well;
  background-color: $warningColor;
  border: 1px solid darken($warningColor, $shade-threshold);
  color: $primaryColor;
}
.error-well {
  @extend .well;
  background-color: lighten($errorColor, $shade-threshold);
  border: 1px solid darken($errorColor, $shade-threshold-stronger);
  color: $whiteColor;
}
.bordered-box{
  border: 1px solid darken($primaryColor, $shade-threshold);
  border-radius: 3px;
  .section-title {
    padding:6px;
    font-weight:700;
    border: 1px solid darken($primaryColor, $shade-threshold);
    background: $primaryColor;
    letter-spacing: 2px;
    font-size: 16px;
    color: $whiteColor;
    font-family: $secondaryFont;
  }
  .section-container {
    padding:6px;
  }
}
