@import '_colors';
@import '_fonts';

.container{
  padding:25px;
  padding-top: 100px;
}
#color-palette{
  $width: 100%;
  width: $width;
  #color-container {
    &::after, &::before{
      content: '';
      display: block;
      clear: both;
    }
    div{
      float: left;
      width: $width/4;
      text-align: center;
      height:100px;
      p{line-height: 100px;}
    }
    .primary{
      background-color: $primaryColor;
      color: $whiteColor;
    }
    .accent{
      background-color: $accentColor;
      color: $whiteColor;
    }
  }

}
#topBar{
  position: fixed;
  top:0;
  width: 100%;
  background-color: $primaryColor;
  color: $whiteColor;
  border-bottom: 1px solid darken($primaryColor, $shade-threshold);
  padding: 20px 50px;
  font-size: 16px;
  sub{
    position: relative;
    top: 10px;
    left:10px;
    font-style: italic;
  }
}
